<h1> <%= @employee.first_name + " " + @employee.last_name %></h1>
<p> <%= @employee.alias %> </p> <br>
<p> <%= @employee.title %> </p> <br>
<p> <%= @employee.office %> </p> <br>
<img src= "<%= @employee.img_url%>">



<p><%= link_to @employee.dog.name, @employee.dog%></p>

