<h1>Employee Show Page</h1>

First Name: <%= @employee.first_name %>
Last Name: <%= @employee.last_name %>
Alias: <%= @employee.alias %>
Title: <%= @employee.title %>
Office: <%= @employee.office %>
Profile Picture: <img src= "<%=@employee.img_url %>">

