<h1> First Name: <%= @employee.first_name %></h1>
<h1> Last Name: <%= @employee.last_name %></h1>
<h1> Alias: <%= @employee.alias %></h1>
<h1> Title: <%= @employee.title %></h1>
<h1> Office: <%= @employee.office %></h1>
<img src="<%=@employee.img_url %>" alt="<%= @employee.first_name %>">
<h1> Dog ID: <%= @employee.dog_id %></h1>
