<h1>Employee Show</h1>

<h3>First Name: <%=@employee.first_name%> Last Name: <%=@employee.last_name%></h3>
<p>Alias: <%=@employee.alias%></p><br>
<p>Title: <%=@employee.title%></p>
<p>Office: <%=@employee.office%></p>
<p>Dog: <%= @employee.dog.name %></p>
<br>
<img src="<%= @employee.img_url %>" alt="<%= @employee.title %>">